<a href="https://colab.research.google.com/github/git-miji/data-structure-01/blob/Data-Structure-Set/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Set
A set is an unordered collection of data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notions of a set, curley brackets. This is based on the data structure known as a hash table.

#Indexing
Set does not support indexing.

In [ ]:
#Defining an empty set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

#Converting a list to a set.
Say, list_01=['faraz', 'Miji', 'Pi', True, False, 'Pi', 3.14, 1, 3]
So, set_list_01= set(list_01)

In [ ]:
list_01=['faraz', 'Miji', 'Pi', True, False, 'Pi', 3.14, 1, 3]
set_list_01= set(list_01)
set_list_01

{3, 3.14, False, 'Miji', 'Pi', True, 'faraz'}

In [ ]:
set_var={'Avengers', 'Avatar', 'Hitman', 'Ironman', 'Ninja'}

# Set Operations:

# Add() Method

This method is used to add new elements to the set.

setname.add('element')

If we add an existing elelment of the set, nothing will happen as there is no duplicate in set.

# Remove() method:
This method is used to remove a element from the set.
setname.remove('element')

# In built Methods for Set

Union() Method: To combine all elements of two set, we can use union method. Say, two set, A and B. So, to union those two, we will write:

# A union B

Intersection() Method: If we want to find the common elements between set 1 and set 2, we use intersection method.

# set1.intersection(set2)

But, if we want to have the common elements in the set1, we need to update the set, so that, set1 will have only common elements in it.

# set1.intersection_update(set2)

Set2 will remain as it was before the update operation.

# Superset() Method:
To check wether a set is superset of another set, we can use this built in method. Say, two set, A and B. We will write the following command:

A.issuperset(B)

# Subset() Method

To check wether a set is subset of another set, we can use this built in method. Say, two set, A and B. We will write the following command:

A.issubset(B)

# Diiference() Method

If we want to know the different elements of set1 with set2, we use difference() method. This method will show show elements are different in set1 with set2.

set1.difference (set2)

If we want to know the difference elements in set2 with set1, we use difference() method.

set2.difference (set1)

#Verifying Element

With the help of 'in' command, we can verify wether an element exists in a set or not. Let us assume a set A. To find an element we will write:
element in A

If the element exists, the command will yeild True else False.

In [ ]:
set_1={'Avengers', 'Avatar', 'Nami', 'Hitman', 'Ironman', 'Sanji', 'Shanks', 'Ninja'}
set_2={'Avengers', 'Zoro', 'One Piece','Nico Robin', 'Death Note', 'Ironman', 'Hulk'}
print(set_1.issuperset(set_2)) # Checking wether set_1 is superset of set_2. 
print(set_1.issubset(set_2)) # Checking wether set_1 is subset of set_2.
print(set_1,'\n',set_2) # Printing set_1 and set_2 in two different line.
set_1.add('Godzilla') #Adding an element in set_1.
print(set_1)
set_1.remove('Avatar') #Removing an element from set_1.
print(set_1)
'Nami' in set_1 #Verifying an element in set_1.

False
False
{'Ironman', 'Shanks', 'Avengers', 'Avatar', 'Ninja', 'Sanji', 'Nami', 'Hitman'}
 {'Ironman', 'Avengers', 'Zoro', 'Nico Robin', 'Death Note', 'Hulk', 'One Piece'}
{'Ironman', 'Shanks', 'Avengers', 'Avatar', 'Godzilla', 'Ninja', 'Sanji', 'Nami', 'Hitman'}
{'Ironman', 'Shanks', 'Avengers', 'Godzilla', 'Ninja', 'Sanji', 'Nami', 'Hitman'}

True

In [ ]:
set_1={'Avengers', 'Avatar', 'Nami', 'Hitman', 'Ironman', 'Sanji', 'Shanks', 'Ninja'}
set_2={'Avengers', 'Zoro', 'One Piece','Nico Robin', 'Death Note', 'Ironman', 'Hulk'}
print(set_2.difference(set_1))
print(set_1.intersection(set_2))
set_1.intersection_update(set_2)
print(set_1)
print(set_2)

{'Nico Robin', 'Hulk', 'Zoro', 'Death Note', 'One Piece'}
{'Ironman', 'Avengers'}
{'Ironman', 'Avengers'}
{'Nico Robin', 'Ironman', 'Avengers', 'Hulk', 'Zoro', 'Death Note', 'One Piece'}

# Loop Through Set

We can easily find all the elements of a set using for loop.

Let us assume the set A={'Avengers', 'Avatar', 'Nami', 'Hitman', 'Ironman', 'Sanji', 'Shanks', 'Ninja'}

for elemets in A:

          print(elements)

In [2]:
A={'Avengers', 'Avatar', 'Nami', 'Hitman', 'Ironman', 'Sanji', 'Shanks', 'Ninja'}

for elements in A:
  print(elements)

Hitman
Ninja
Sanji
Shanks
Avengers
Avatar
Ironman
Nami